@font-face {
    font-family: 'Carme';
    src: url('../fonts/carme-regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}


body {
    margin: 0;
    padding-top: 80px; /* height of the footer */
    min-height: 100%;
    background:#FBFCFA;
  }