@font-face {
    font-family: 'Carme';
    src: url('../fonts/carme-regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@media only screen and (max-width: 700px) {
}

@media only screen and (min-width: 1170px) {
    .Footer_contenu_texte a {
        color:#867E7E;
        font-family: 'Carme';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        text-decoration: underline;
        text-align: right;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .Footer_contenu_texte {
        display: block;
        padding-right: 1.5vw;
        padding-top: 15px;
    }
    
    
    .Footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 80px;
        background: #BAE6E4;
    }
      
    .contenu_Footer {
        display: flex;
        align-items: center;
        justify-content:space-between;
    }
    
    .Footer_contenu_Logo p {
        color:#867E7E;
        font-family: 'Carme';
        font-style: normal;
        font-size: 16px;
        display: flex;
        align-items: center;
        text-align: center;
        padding-left: 200px;
        padding-top: 15px;
    }
    
    #LogoFooter{
        position: absolute;
        left: 100px;
    }
    
    #Logo_Infinite_Measures_Footer{
        position: absolute;
        top: 10px;
        left: 520px;
    }
}