@font-face {
    font-family: 'Carme';
    src: url('../fonts/carme-regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}


body {
    margin: 0;
    padding-bottom: 80px; /* height of the footer */
    min-height: 100%;
    background:#FBFCFA;
  }

  .Titre_CGU{
    color: #000;;
    font-family: 'Carme';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-decoration: underline;
    text-align: middle;
    padding-left: 20px;
    padding-right: 20px;
}

#MainPageImage{
    position: fixed;
    margin-left:0px;
}
