.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
}
.main-container h1 {
    margin: 30px;
    font-family: 'Carme';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    text-align: center;
    color: #36706D;
}
.main-container input{
    padding: 10px;
    border: 2px solid #ccc;
    background: #FFFFFF;
    border: 3px solid #368A86;
    border-radius: 100px;
    font-size: 16px;
    outline: none;
    order-color: #007bff;
    width: 200px;
    height: 19px;
    color: #82BBBA;

}
.main-container button {
    display: block;
    margin: 0px;
    text-align: center;
    width: 114.95px;
    height: 28.635px;

    
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    background: #82BBBA;
    border-radius: 10px;
    border-style: none;
    font-family: 'Carme';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
}
.Enregistrer button{
    position: absolute;
    width: 114.95px;
    height: 28.635px;
    left: 454.18px;
    top: 460px;
    background: #82BBBA;
    border-radius: 10px;
    text-align: center;
    border-style: none;
    
    font-family: 'Carme';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    
    
    color: #FFFFFF;
    
    
  }
.main-container input::placeholder {
    font-family: 'Carme';
    font-style: normal;
    font-weight: 400;
    font-size: 12.5px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #82BBBA;
  }
  .Profil{
    position: absolute;
    width: 270px;
    height: 38px;
    left: 20.61px;
    top: 80px;
    
    font-family: 'Carme';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 58px;
    display: flex;
    align-items: center;
    text-align: right;
    justify-content: flex-start;
    
    color: #36706D;
    
    transform: rotate(0.17deg);
  }
  a:link{
    color: #368A86;
    text-decoration: none;  
  }
  a:visited{
    color: #368A86;
    text-decoration: none;  
  }
  a:hover{
    color: #368A86;
  }
  a:active{
    color: #368A86;
    
  }
 .SendCode button{
    
    background: #82BBBA;
    border-radius: 10px;
    text-align: center;
    border-style: none;
    
    font-family: 'Carme';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    
    
    color: #FFFFFF;

 }
 .email-container {
    display: flex;
    align-items: center;
    margin-left: 120px;
}

.SendCode {
    margin-left: 10px;
}
