.main-container{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 60%;
    height: auto;
    margin: auto;
}
.main-button {
    border: 10px solid transparent;
    background: #BAE6E4;
    font-family: 'Carme';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}