title {
    position: absolute;
    width: 704px;
    height: 149px;
    left: 38.5%;
    top: 70px;
    
    font-family: 'Carme';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #36706D;
}

.temperature {
    position: absolute;
    left: 31.5%;
    top: 220px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    
    color: #000000;
}

.humidite {
    position: absolute;
    width: 229px;
    height: 33px;
    left: 825px;
    top: 220px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    
    color: #000000;
}

.son {
    position: absolute;
    width: 228px;
    height: 38px;
    left: 31%;
    top: 349px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    
    color: #000000;
}

.cardio {
    position: absolute;
    width: 229px;
    height: 35px;
    left: 817px;
    top: 349px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    
    color: #000000;
    
}

.co2 {
    position: absolute;
    width: 249px;
    height: 33px;
    left: 43%;
    top: 465px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    
    color: #000000; 
}

.temperatureButton {
    box-sizing: border-box;

    position: absolute;
    width: 150px;
    height: 75px;
    left: 30%;
    top: 253px;
    
    background: #EEEEEE;
    mix-blend-mode: normal;
    border: 1px solid #36706D;
    border-radius: 10px;
    text-align: right;
    font-size: 16px;
}

.humiditeButton {
    box-sizing: border-box;

    position: absolute;
    width: 150px;
    height: 75px;
    left: 814px;
    top: 253px;
    
    background: #EEEEEE;
    border: 1px solid #36706D;
    border-radius: 10px;
    text-align: right;
    font-size: 16px;
}

.sonButton {
    box-sizing: border-box;

    position: absolute;
    width: 150px;
    height: 75px;
    left: 30%;
    top: 380px;
    
    background: #EEEEEE;
    border: 1px solid #36706D;
    border-radius: 10px;
    text-align: right;
    font-size: 16px;
}

.cardioButton {
    box-sizing: border-box;

    position: absolute;
    width: 150px;
    height: 75px;
    left: 814px;
    top: 380px;
    
    background: #EEEEEE;
    border: 1px solid #36706D;
    border-radius: 10px;   
    text-align: right; 
    font-size: 16px;
}

.co2Button {
    box-sizing: border-box;

    position: absolute;
    width: 150px;
    height: 75px;
    left: 41.5%;
    top: 496px;
    
    background: #EEEEEE;
    border: 1px solid #36706D;
    border-radius: 10px; 

    text-align: right;
    font-size: 16px;
}
