@font-face {
    font-family: 'Carme';
    src: url('../fonts/carme-regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
  }


  #retour {
    font-family: 'Carme';
    src: url('../fonts/carme-regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    color: #36706D;
    margin-left: 2%;
    font-size: 20px;
    text-decoration : none;
  }

#Signaler {
    font-family: 'Carme';
    src: url('../fonts/carme-regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    color: #36706D;
    text-align: center;
    font-size: 50px;
    margin-top: -5px;
}

#Choix {
    margin-left: 10%;
    padding: 10px;
    width: 80%;
    font-size: 14px;
}

button {
    display: inline-block;
    background-color: #36706D;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 15px 25px;
    width: 220px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0px;
    border: 0px;
}

#valider {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
}


.searchbar2 {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #202124;
    display: flex;
    z-index: 3;
    height: 44px;
    background: white;
    border: 1px solid black;
    box-shadow: none;
        
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 15px;
    width: auto;
    max-width: 80%;
    padding-bottom: 15%;
}

.searchbar {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #202124;
    display: flex;
    z-index: 3;
    height: 44px;
    background: white;
    border: 1px solid black;
    box-shadow: none;
    
    margin: 0 auto;
    margin-bottom: 15px;
    width: auto;
    max-width: 80%;
  }
  
  
  
  .searchbar-wrapper {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 14px;
  }
  
  .searchbar-center {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
  }
  
  .searchbar-input-spacer {
    color: transparent;
    flex: 100%;
    white-space: pre;
    height: 34px;
    font-size: 16px;
  }
  
  .searchbar-input {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    margin-top: -37px;
    height: 34px;
    font-size: 16px;
    max-width: 100%;
    width: 100%;
  }
   