@font-face {
    font-family: 'Carme';
    src: url('../fonts/carme-regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}


body {
    margin: 0;
    /* height of the footer */
    padding-top: 80px;
    min-height: 100%;
    background:#FBFCFA;
    overflow-x: scroll;
    min-height: calc(100vh - 80px - 800px);
    
  }

.Titre {
    opacity: 0; /* Définit l'opacité initiale à 0 pour masquer le texte */
    transform: translateX(-100%); /* Définit la position initiale en dehors de l'écran à gauche */
    animation: slideIn 1.2s forwards; /* Applique l'animation "slideIn" pendant 1 seconde */
}

@keyframes slideIn {
    0% {
    opacity: 0;
    transform: translateX(-100%); /* Définit la position initiale en dehors de l'écran à gauche */
    }
    100% {
    opacity: 1;
    transform: translateX(0); /* Définit la position finale à gauche */
    }
}


.Titre a{
    position: relative;
    width: 811px;
    height: 90px;
    left:  6.7%;
    top: 100px;
    
    font-family: 'Carme';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 77px;
    
    color: #368A86;
}

.Notre_Mission{
    position: absolute;
    width: 603px;
    height: 84px;
    left: 6.7%;
    top: 42%;

    font-family: 'Carme';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;

    color: #368A86;
}

.Nos_Enjeux{
    position: absolute;
    width: 603px;
    height: 84px;
    left: 6.7%;
    top: 88%;

    font-family: 'Carme';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;

    color: #368A86;
}

.Contenu_Mission a{
    position: absolute;
    width: 800px;
    height: 84px;
    left: 6.7%;
    top: 51%;

    font-family: 'Carme';
    font-style: normal;
    font-weight: 400;

    font-size: 22px;
    color: black;
    line-height: 28px;
}

.Image_boitier img{
    position: relative;
    margin-top: -24px; /* Ajustez cette valeur selon vos besoins */
    left: 62%; /* Ajustez cette valeur selon vos besoins */
    width: 30%; /* Ajustez cette valeur selon vos besoins */
    height: 30%; /* Ajustez cette valeur selon vos besoins */

    transform: translateY(-1%); /* Déplace l'image de 2% vers le haut */
}

.Contenu_Enjeux a{
    position: absolute;
    width: 800px;
    height: 84px;
    left: 6.7%;
    top: 97%;

    font-family: 'Carme';
    font-style: normal;
    font-weight: 400;

    font-size: 22px;
    color: black;
    line-height: 28px;
}

.Femme_Volant img{
    position: relative;
    top: 20%; 
    left: 63%; 
    width: 30%; 
    height: 30%;

    transform: translateY(-32%); /* Déplace l'image de 30% vers le haut */
}

.Capteur_CO2 img {
    position: absolute;
    top: 40%; 
    left: 84%; 
    width: 8.4%;
    height: 16.8%;

    transform: translateY(30%); /* Déplace l'image de 30% vers le haut */

    transition: transform 0.8s; /* Ajoute une transition pour un mouvement fluide */
    opacity: 0; /* Masque l'image par défaut */
}

.Image_boitier:hover + .Capteur_CO2,
.Capteur_CO2:hover {
    opacity: 1; /* Révèle l'image lors du survol de l'Image_boitier ou du Capteur_CO2 */
    transform: translate(30%, -30%); /* Déplace l'image en diagonale vers la droite et le haut */
}

.Capteur_Temp_Humid img {
    position: absolute;
    top: 40%; 
    left: 75%; 
    width: 8.4%;
    height: 16.8%;

    transition: transform 0.8s; /* Ajoute une transition pour un mouvement fluide */
    opacity: 0; /* Masque l'image par défaut */
}

.Image_boitier:hover + .Capteur_Temp_Humid,
.Capteur_Temp_Humid:hover {
    opacity: 1;
    transform: translateY(-100%);
}

.Capteur_Sonore img {
    position: absolute;
    top: 28%; 
    left: 67%; 
    width: 8.4%;
    height: 16.8%;

    transform: translateY(30%); /* Déplace l'image de 30% vers le haut */

    transition: transform 0.8s; /* Ajoute une transition pour un mouvement fluide */
    opacity: 0; /* Masque l'image par défaut */
}

.Image_boitier:hover + .Capteur_Sonore,
.Capteur_Sonore:hover {
    opacity: 1;
    transform: translateY(30%, -30%);
}

.Capteur_Rythme_Cardiaque img {
    position: absolute;
    top: 36%; 
    left: 57%; 
    width: 8.4%;
    height: 16.8%;

    transform: translateY(30%); /* Déplace l'image de 30% vers le haut */

    transition: transform 0.8s; /* Ajoute une transition pour un mouvement fluide */
    opacity: 0; /* Masque l'image par défaut */
}

.Image_boitier:hover + .Capteur_Rythme_Cardiaque,
.Capteur_Rythme_Cardiaque:hover {
    opacity: 1;
    transform: translateY(30%, -30%);
}
