@font-face {
    font-family: 'Carme';
    src: url('../../Origine/fonts/carme-regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

main {
    margin: 0;
    /* height of the footer */
    padding-top: 80px;

    min-height: 100%;
    background:#FBFCFA;
    overflow-x: hidden;
  }

.Connexion a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
    top: 100px;

    font-family: 'Carme';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    text-align: center;

    color: #36706D;
}

  
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
  
input[type="email"] {
    display: block;
    width: 400px;
    padding: 10px;
    border: 3px solid #36706D;
    border-radius: 360px;
    font-size: 16px;
    font-family: 'Carme';
    font-style: normal;
  }

input[type="password"] {
    display: block;
    width: 400px;
    padding: 10px;
    border: 3px solid #36706D;
    border-radius: 360px;
    font-size: 16px;
    font-family: 'Carme';
    font-style: normal;
}


input[type="number"] {
    display: block;
    width: 400px;
    padding: 10px;
    border: 3px solid #36706D;
    border-radius: 360px;
    font-size: 16px;
    font-family: 'Carme';
    font-style: normal;
}


.rectangle-connecter {
    position: relative;
    width: 300px;
    height: 50px;
    background: #82BBBA;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
  
.rectangle-connecter a {
    font-family: 'Carme';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
    text-align: center;
    color: #FFFFFF;
}

.sursupr {
    font-family: 'Carme';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
    text-align: center;
    color: #36706D;
}


.rectangle-envoye {
    position: relative;
    width: 300px;
    height: 50px;
    background: #82BBBA;
    border-radius: 20px;
    display: flex;
    padding-left: 30px;
    flex-direction: column;
    margin: auto;
}
  
.rectangle-envoye a {
    font-family: 'Carme';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
    text-align: center;
    color: #FFFFFF;
}

