.title {
  position: absolute;
width: 39%;
height: 149px;
left: 565px;
top: 40px;

font-family: 'Carme';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 48px;
display: flex;
align-items: center;
text-align: center;

color: #36706D;

transform: rotate(0.17deg);
}

.Nom{
  display:block;
  margin :0;
  
}
.Nom > .Intitule {
  position: absolute;
  width: 170.82px;
  height: 58.48px;
  left: 563.61px;
  top: 140px;
  
  font-family: 'Carme';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  display: flex;
  align-items: center;
  
  color: #82BBBA;
  
  transform: rotate(0.17deg);
  
}
.Nom > .Entrée{
  position: absolute;
  width: 147.02px;
  height: 47.55px;
  left: 563.61px;
  top: 180px;
  
  font-family: 'Carme';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  display: flex;
  align-items: center;
  
  color: #368A86;
  
  transform: rotate(0.17deg);
}
.Nom > .Editer{
  position: absolute;
width: 147px;
height: 52px;
left: 563.61px;
top: 210px;

font-family: 'Carme';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;
text-decoration-line: underline;

color: #368A86;

transform: rotate(0.17deg);
  
}

.Prénom{
  display:block;
  margin :0;
}

.Prénom > .Intitule{
  position: absolute;
  width: 170.82px;
  height: 58.48px;
  left: 454.18px;
  top: 140px;
  
  font-family: 'Carme';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  display: flex;
  align-items: center;
  
  color: #82BBBA;
  
  transform: rotate(0.17deg);
}
.Prénom > .Entrée{
  position: absolute;
  width: 113.94px;
  height: 41.65px;
  left: 457.13px;
  top: 180px;
  
  font-family: 'Carme';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  display: flex;
  align-items: center;
  
  color: #368A86;
  
  transform: rotate(0.17deg);
  
}
.Prénom > .Editer{
  position: absolute;
  width: 147px;
  height: 52px;
  left: 457.16px;
  top: 210px;
  
  font-family: 'Carme';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-decoration-line: underline;
  
  color: #368A86;
  
  transform: rotate(0.17deg);
}
.Email{
  display:block;
  margin :0;
}

.Email > .Intitule{
  position: absolute;
  width: 197.92px;
  height: 40.4px;
  left: 454.12px;
  top: 250px;
  
  font-family: 'Carme';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 38px;
  display: flex;
  align-items: center;
  
  color: #82BBBA;
  
  transform: rotate(0.17deg);
}

.Email > .Entrée{
  position: absolute;
  width: 480px;
  height: 60px;
  left: 454.18px;
  top: 280px;
  
  font-family: 'Carme';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 38px;
  display: flex;
  align-items: center;
  
  color: #368A86;
  
  transform: rotate(0.17deg);
}

.Email > .Editer{
  position: absolute;
  width: 147px;
  height: 52px;
  left: 454.16px;
  top: 320px;
  
  font-family: 'Carme';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-decoration-line: underline;
  
  color: #368A86;
  
  transform: rotate(0.17deg);
}

.MDP{
  display:block;
  margin :0;
}

.MDP > .Intitule{
  position: absolute;
  width: 223.81px;
  height: 41.32px;
  left: 670.65px;
  top: 250px;
  
  font-family: 'Carme';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 38px;
  display: flex;
  align-items: center;
  
  color: #82BBBA;
  
  transform: rotate(0.17deg);
}

.MDP > .Entrée{
  position: absolute;
width: 385px;
height: 62px;
left: 670.65px;
top: 280px;

font-family: 'Carme';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 38px;
display: flex;
align-items: center;

color: #368A86;

transform: rotate(0.17deg);

}

.MDP > .Reinitialiser {
  position: absolute;
  width: 192px;
  height: 52px;
  left: 670.65px;
  top: 320px;
  
  font-family: 'Carme';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-decoration-line: underline;
  
  color: #368A86;
  
  transform: rotate(0.17deg);
}
.Tableau{
  position: absolute;
  width: 270px;
  height: 38px;
  left: 20.61px;
  top: 80px;
  
  font-family: 'Carme';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 58px;
  display: flex;
  align-items: center;
  text-align: right;
  justify-content: flex-start;
  
  color: #36706D;
  
  transform: rotate(0.17deg);
}
.Photo{
  position: absolute;
  width: 270px;
  height: 38px;
  left: 195px;
  top: 270px;
  
  font-family: 'Carme';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 58px;
  
  text-align: center;
  
  text-decoration-line: underline;
  
  color: #36706D;
  
  transform: rotate(0.17deg);
}
#Photo{
box-sizing: border-box;

position: absolute;
width: 158px;
height: 140px;
left: 250px;
top: 160px;

background: url(photo.jpg);
border: 2px solid #ffffff;

}
.Enregistrer button{
  position: absolute;
  width: 114.95px;
  height: 28.635px;
  left: 454.18px;
  top: 460px;
  background: #82BBBA;
  border-radius: 10px;
  text-align: center;
  border-style: none;
  
  font-family: 'Carme';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  
  
  color: #FFFFFF;
  
  
}
.Supprimer button{
  position: absolute;
  width: 115px;
  height: 29.15px;
left: 614.16px;
top: 460px;
background: #EEEEEE;
border: 0.5px solid #000000;
border-radius: 10px;
text-align: center;

font-family: 'Carme';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 20px;
/* identical to box height */


color: #368A86;


}
a:link{
  color: #368A86;
  text-decoration: none;  
}
a:visited{
  color: #368A86;
  text-decoration: none;  
}
a:hover{
  color: #368A86;
}
a:active{
  color: #368A86;
  
}
.Deconnexion{
  position: absolute;
  width: 270px;
  height: 38px;
  left: 90%;
  top: 80px;
  
  font-family: 'Carme';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 58px;
  display: flex;
  align-items: center;
  text-align: right;
  justify-content: flex-start;
  
  color: #36706D;
  
  transform: rotate(0.17deg);
}