@font-face {
    font-family: 'Carme';
    src: url('../fonts/carme-regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
  }
  
  body {
    margin: 0;
    padding-top: 80px; /* height of the footer */
    min-height: 100%;
    background:#FBFCFA;
    overflow-x: hidden;
  }
  #retour {
    font-family: 'Carme';
    src: url('../fonts/carme-regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    color: #36706D;
    margin-left: 2%;
    font-size: 20px;
    text-decoration : none;
  }
  
  #FAQ {
      font-family: 'Carme';
      src: url('../fonts/carme-regular.ttf') format('truetype');
      font-style: normal;
      font-weight: 400;
      color: #36706D;
      text-align: center;
      font-size: 50px;
  }
  
  #Question {
      background-color: #36706D;
      border-radius: 10px;
      max-width: 80%;
      margin-left: 10%;
      align-content: center;
      padding-bottom: 25px;
      margin-bottom: 50px;
  }
  
  #Text_Question {
      color : white;
      font-family: 'Carme';
      src: url('../fonts/carme-regular.ttf') format('truetype');
      font-style: normal;
      font-weight: 400;
      padding: 15px;
  }
  
  #oui {
    padding-left: 10%;
    font-family: 'Carme';
    src: url('../fonts/carme-regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    color: #36706D;
    margin-bottom: 15px;
  }
  
  #row{
    display: flex;
    flex-direction: row;
  }
  
  #column{
    background-color: #EEEEEE ;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  
  #Rubrique_1 {
    background-color: white;
    border-radius: 10px;
    width: 30%;
    margin-left: 10%;
    align-content: center;
    color: #36706D;
    margin-bottom: 25px;
  }
  
  #test{
    background-color: white;
    border-radius: 10px;
    width: 40%;
    margin-left: 10%;
    align-content: center;
    color: #36706D;
    margin-bottom: 25px;
  }
  
  #Rubrique_2 {
    background-color: #EEEEEE;
    border-radius: 10px;
    margin-left: 2%;
    color: #36706D;
    margin-bottom: 25px;
  }
  
  #text_rubrique{
    
    font-family: 'Carme';
    src: url('../fonts/carme-regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 15px;
  }
  
  .searchbar {
      font-size: 14px;
      font-family: arial, sans-serif;
      color: #202124;
      display: flex;
      z-index: 3;
      height: 44px;
      background: white;
      border: 1px solid #dfe1e5;
      box-shadow: none;
      border-radius: 24px;
      margin: 0 auto;
      width: auto;
      max-width: 95%;
    }
    
    .searchbar:hover {
      box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
      border-color: rgba(223,225,229,0);
    }
    
    .searchbar-wrapper {
      flex: 1;
      display: flex;
      padding: 5px 8px 0 14px;
    }
  
    .search-icon-wrapper {
      margin: auto;
    }
    
    .search-icon {
      margin-top: 3px;
      color: #9aa0a6;
      height: 20px;
      line-height: 20px;
      width: 20px;
    }
    
    .searchbar-icon {
      display: inline-block;
      fill: currentColor;
      height: 24px;
      line-height: 24px;
      position: relative;
      width: 24px;
    }
    
    .searchbar-center {
      display: flex;
      flex: 1;
      flex-wrap: wrap;
    }
    
    .searchbar-input-spacer {
      color: transparent;
      flex: 100%;
      white-space: pre;
      height: 34px;
      font-size: 16px;
    }
    
    .searchbar-input {
      background-color: transparent;
      border: none;
      margin: 0;
      padding: 0;
      color: rgba(0, 0, 0, .87);
      word-wrap: break-word;
      outline: none;
      display: flex;
      flex: 100%;
      margin-top: -37px;
      height: 34px;
      font-size: 16px;
      max-width: 100%;
      width: 100%;
    }
    
    .searchbar-right {
      display: flex;
      flex: 0 0 auto;
      margin-top: -5px;
      align-items: stretch;
      flex-direction: row
    }
    
    .searchbar-clear-icon {
      margin-right: 12px
    }
     
    
  #details-question{
    font-family: 'Carme';
    src: url('../fonts/carme-regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    background-color: #EEEEEE ;
    color : #36706D ;
  }
  
  
  