#retour {
  font-family: 'Carme';
  src: url('../fonts/carme-regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  color: #36706D;
  margin-left: 2%;
  font-size: 20px;
  text-decoration : none;
}

#Forum {
    font-family: 'Carme';
    src: url('../fonts/carme-regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    color: #36706D;
    text-align: center;
    font-size: 50px;
    
    margin-bottom: 50px;
}

.searchbar {
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #202124;
  display: flex;
  z-index: 3;
  height: 44px;
  background: white;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  margin: 0 auto;
  width: auto;
  max-width: 80%;
}

.searchbar:hover {
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223,225,229,0);
}

.searchbar-wrapper {
  flex: 1;
  display: flex;
  padding: 5px 8px 0 14px;
}

.search-icon-wrapper {
  margin: auto;
}

.search-icon {
  margin-top: 3px;
  color: #9aa0a6;
  height: 20px;
  line-height: 20px;
  width: 20px;
}

.searchbar-icon {
  display: inline-block;
  fill: currentColor;
  height: 24px;
  line-height: 24px;
  position: relative;
  width: 24px;
}

.searchbar-center {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.searchbar-input-spacer {
  color: transparent;
  flex: 100%;
  white-space: pre;
  height: 34px;
  font-size: 16px;
}

.searchbar-input {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, .87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  margin-top: -37px;
  height: 34px;
  font-size: 16px;
  max-width: 100%;
  width: 100%;
}

.searchbar-right {
  display: flex;
  flex: 0 0 auto;
  margin-top: -5px;
  align-items: stretch;
  flex-direction: row
}

.searchbar-clear-icon {
  margin-right: 12px
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #36706D;
  color: white;
}

input[type="submit"] {
  background-color: #36706D;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.conteneur {
  width: 100%;
  display: flex;
  overflow-x: auto;
  justify-content: space-around;
}

.title-question{
  
  margin-bottom: 2%;
  padding: auto;	
  font-family: 'Carme';
    src: url('../fonts/carme-regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    color: #36706D;
    font-size: 24px;
}

.content-question{
  margin-bottom: 2%;
  padding: auto;
  resize: none;
  font-family: 'Carme';
    src: url('../fonts/carme-regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    color: #36706D;
    font-size: 24px;
    
}

input#title-input{	
  margin-top: 1%;
  width: 800px;
  border-radius: 10px;
  padding: 10px;
}

textarea#content-input{
  margin-top: 1%;
  border-radius: 10px;
  padding: 10px;
  width: 800px;
  height: 300px;
  resize: none;
}

button#publier{
  font-family: 'Carme';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
    text-align: center;
    color: #FFFFFF;
    width: 120px;
    height: 50px;
    border-radius: 10px;
    background-color:#82BBBA ;
    border-color: transparent;
}

@media (max-width: 600px) {
  /* cacher certaines colonnes sur les petits écrans */
  table th:nth-child(3),
  table td:nth-child(3) {
      display: flex;
  }
}

h1 {
  display: flex;
  font-size: 3rem;
  justify-content: space-around;
  align-items: center;
  color: #36706D;
  font-family: "roboto", sans-serif;
  padding: 2rem;
}

form {
  font-size: 1.2em;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

label[for="user"] {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

label[for="message"] {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

label[for="titre"] {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

textarea#message {
  width: 50%;
  height: 150px;
  padding: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  resize: none;
}

textarea#message1 {
  width: 700px;
  height: 80px;
  padding: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  resize: none;
}

textarea#titre {
  width: 330px;
  height: 20px;
  padding: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  resize: none;
}

body {
  min-height: 100vh;
  position: relative;
}

.vide {
  height: 60px;
}